.testing__question {
    width: 100%;
    text-align: justify;
    font-weight: 500;
    line-height: 1.15;
    font-size: 24px;
}

@media screen and (max-width: 767px) {    
    .testing__question {
        font-size: 20px;
        
    }
}

@media screen and (max-width: 345px) {    
    .testing__question {
        font-size: 15px; 
    }
}