.buttons-test{
    width: 30%;
    height: 36px;
    background: #2F2F2F;
    margin: 10px auto 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;  
}

.buttons-test:hover {
    opacity: 0.6;
    transition: 1s linear;
}

@media screen and (max-width: 769px) {    
    .button-add-more {
        margin-top: 70px;
        width: 92%;
    }
}

@media screen and (max-width: 400px) {    
    .button-add-more {
        margin-top: 60px;
    }
}